<IfModule mod_rewrite.c>

	RewriteEngine On
	Options -Indexes

	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php/$1 [L]
	
	RewriteCond %{HTTP_HOST} ^zues\.pub$ [NC]
	RewriteRule ^(.*)$ http://www.zues.pub/$1 [L,R=301]

</IfModule>

<Ifmodule mod_deflate.c>
</Ifmodule>
